<c:template
    xmlns:c="core"
    xmlns:w="widgets"
    name="ui/demo/ColorChangeButton"
    params="label">
    
    <button type="button" w:widget="ui/demo/ColorChangeButton/ColorChangeButtonWidget">
        $label
    </button>
    
</c:template>