<c:template
    xmlns:c="core"
    xmlns:w="widgets"
    xmlns:app="app"
    name="widgets-test">
    
    <app:color-change-button
        colors="red,green,blue" 
        label="Click me (Red, Green and Blue)"/>

</c:template>