<c:template xmlns:w="widgets" xmlns:c="core">
    <div id="createTask" w:widget="ui/CreateTask/CreateTaskWidget">
        <input w:el-id="new-todo" class="new-todo" placeholder="What needs to be done?" autofocus="autofocus" />
    </div>
</c:template>