<c:template xmlns:w="widgets" xmlns:c="core">
    <header w:widget="ui/CreateTask/CreateTaskWidget">
        <h1>todos</h1>
        <input w:el-id="new-todo" class="new-todo" placeholder="What needs to be done?" autofocus="autofocus" />
    </header>
</c:template>