<c:template
    xmlns:c="core"
    xmlns:w="widgets"
    name="ui/demo/Button"
    params="label">
    
    <button type="button" w:widget="ui/demo/Button/ButtonWidget">
        ${label}
    </button>

</c:template>