<c:template xmlns:w="widgets" xmlns:c="core">
    <section class="main" w:widget="ui/TasksContainer/TasksContainerWidget">
        <ul w:el-id="todo-list" class="tasks"></ul>
    </section>
</c:template>