.search-results.view-gallery .search-item {
    width: 225px;
    height: 200px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.search-results.view-gallery .search-item-container {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    height: 200px;
    background-color: #FFF;
    border: 1px solid #E8E8E8;
    transition: box-shadow 0.25s ease 0s, min-height 0.35s ease 0s;
}

.search-results.view-gallery .search-item .img-container {
    text-align: center;
    line-height: 140px;
    height: 140px;
    vertical-align: middle;
}

.search-results.view-gallery .search-item H4.title {
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.search-results.view-gallery .search-item .search-item-container:hover {
    min-height: 200px;
    height: auto;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 6px 6px 6px rgba(51, 65, 80, 0.35);
    z-index: 5;
}

.search-results.view-gallery .search-item .search-item-container:hover H4.title {
    overflow: visible;
    text-overflow: inherit;
    white-space: normal;
}

.search-results.view-gallery .search-item-container:hover:before, .search-item-container:hover:after {
    display: none;
}

.search-results.view-gallery .search-item.drop-shadow:before, .search-item.drop-shadow:after{
    
    
}

/*** LIST VIEW ***/

.search-results.view-list .search-item {
    margin-right: 15px;
    margin-bottom: 15px;
    clear: both;
}

.search-results.view-list .search-item-container {
    padding: 10px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    background-color: #FFF;
    border: 1px solid #E8E8E8;
    transition: box-shadow 0.25s ease 0s, min-height 0.35s ease 0s;
}

.search-results.view-list .search-item .img-container {
    text-align: center;
    line-height: 140px;
    height: 140px;
    width: 140px;
    vertical-align: middle;
    display: inline-block;
}

.search-results.view-list .search-item H4.title {
    font-size: 14px;
    font-weight: normal;
    padding: 4px;
    display: inline-block;
}

.search-results.view-list .search-item .search-item-container:hover {
    height: auto;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 6px 6px 6px rgba(51, 65, 80, 0.35);
    z-index: 5;
}

.search-results.view-list .search-item .search-item-container:hover H4.title {
    overflow: visible;
    text-overflow: inherit;
    white-space: normal;
}

.search-results.view-list .search-item-container:hover:before, .search-item-container:hover:after {
    display: none;
}

.search-results.view-list .search-item.drop-shadow:before, .search-item.drop-shadow:after{
    
    
}