<c:template xmlns:c="core" 
    name="colors"
    params="colors">

    <ul c:if="notEmpty(colors)">
        <li style="color: $color" c:for="color in colors">
            $color
        </li>
    </ul>
    <div c:else="">
        No colors!
    </div>
    
</c:template>