<c:template xmlns:w="widgets" xmlns:c="core">
    <header id="header" w:widget="ui/CreateTask/CreateTaskWidget">
        <h1>todos</h1>
        <input id="new-todo" placeholder="What needs to be done?" autofocus="autofocus" />
    </header>
</c:template>